body {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #000000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > * {
  margin: 10px;
}

nav > i {
  cursor: pointer;
  font-size: 50px;
}

.nameWrapper {
  border: 3px solid white;
  border-radius: 10px;
  width: 300px;
}

.red {
  color: red;
}

.container {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  display: flex;
  width: 840px;
  flex-wrap: wrap;
  box-shadow: 0 0 8px black;
}

.quadratino {
  color: #003366;
  width: 118px;
  height: 118px;
  border: 1px solid #003366;
  text-shadow: 0 0 4px white;
}

.quadratino:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
